body {
  background-color: White;
}

h1, h2 {
  color: red;
  text-align: center;
}


button {
  font-family: verdana;
  font-size: 16px;
  background-color: white;
  border: 1px solid red;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  margin-right: 5px;
}

.imgButton {
  border: 0px;
}

.imgButton:hover {
  border-radius: 0px;
  opacity: 1;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0);
}

button:hover {
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 1);
}

.selectImg {
  margin-right: 15px;
  transition-duration: 0.4s;
  opacity: 0.75;
  border-radius: 10px;
}

.selectImg:hover{
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 1);
}

.guide{
  display: none;
}
